<!-- ContactForm -->
<h2 mat-dialog-title> Contact Form </h2>
<mat-dialog-content>
    <form [formGroup]="contactForm">

      <label>
        Name :
        <input type="text" formControlName="name">
      </label>

      <label>
        Age:
        <input type="text" formControlName="age">
      </label>

      <label>
        sex:
        <input type="text" formControlName="sex">
      </label>

      <label>
        email:
        <input type="text" formControlName="email">
      </label>

    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
